body {
    font-family: Arial, sans-serif;
    background-image:url("background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.quiz-container {
    max-width: 600px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}

#question {
    font-size: 18px;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

#submit-btn, #next-btn {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit-btn:hover, #next-btn:hover {
    background-color: #0056b3;
}

#result {
    text-align: center;
    font-weight: bold;
}

#score {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
